---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Purpose from '../components/Purpose.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Impact from '../components/Impact.astro';
import Join from '../components/Join.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="RED BIO – Identidad Digital Solidaria | Munay Ruray">
	<Navbar />
	<main>
		<Hero />
		<Purpose />
		<HowItWorks />
		<Impact />
		<Join />
	</main>
	<Footer />
</Layout>
